img {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.landing {
  position: relative;
  background-color: #FEFEFE;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
  font-family: 'Roboto', sans-serif;
}

.landing-inner {
  padding-top: 80px;
}

.tag-line {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  font-size: 16px;

}

@media (max-width: 575px) {
  html {
    font-size: 12px;
  }

  .nav-bar-logo {
    font-family: 'Rock Salt', cursive !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
}

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
.nav-bar-logo {
  font-family: 'Rock Salt', cursive !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.form-control {
  font-size: 14px !important;
}

.link-text-input {
  font-size: 10px !important;
}


@media (max-width: 575px) {
  .link-text-input {
    font-size: 6px !important;
  }
}

.link-text-copy {
  font-size: 10px !important;
}

.back-to-lists {
  font-size: 10px !important;
}

.editable {
  color: #17a2b8;
}

.list-icon-hidden {
  color: lightgray;
}

.no-wrap {
    white-space: nowrap;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
  height: 60px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
.text-field-group {
  font-family: 'Roboto', sans-serif !important;
}

.card-list-header {
  background-color: #FFFFFF !important;
  margin: 0px 0px 0px 0px !important;
}

.card-header {
  background-color: #17a2b8 !important;
  color: white;
  margin: 0px 0px 0px 0px !important;
}

.card-list-item {
  padding-bottom: -50px !important;
}

.btn-header {
  background-color: white !important;
  border-style: hidden !important;
}


.card-list-item-order-notes {
  padding-bottom: 0px !important;
  margin-bottom: -10px !important;
}

.card-list-item-name {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.card-body-list-info {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  margin-top: -10px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
